{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Weather Condition Records</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Weather Condition</div>
                    </div>
                    <br />
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                <form class="navbar-form nav-search mr-md-3" action="">
                                    <div class="input-group">
                                        <input type="text" placeholder="Search ..." class="form-control" name="q" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-search search icon"></i>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <a href="{% url 'wheather-add' %}" class="btn btn-success btn-rounded">Add Weather Condition</a>
                                </div>
                            </div>
                        </div>
                    <div class="card-body">
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                    <th>Incident</th>
                                    <th>Temperature</th>
                                    <th>Humidity</th>
                                    <th>Wind Speed</th>
                                    <th>Weather Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                                <tbody>
                                    {% for weather in weathers %}
                                        <tr>
                                            <td>{{ weather.incident }}</td>
                                            <td>{{ weather.temperature }}</td>
                                            <td>{{ weather.humidity }}</td>
                                            <td>{{ weather.wind_speed }}</td>
                                            <td>{{ weather.weather_description }}</td>
                                            <td>
                                                <a href="{% url 'wheather-update' weather.pk %}">Edit</a>
                                                <a href="{% url 'wheather-delete' weather.pk %}" class="text-danger">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
                        {% include 'includes/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
